.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(249, 252, 218, 0.827);
}

.weather-container {
  width: 0vw;
  height: 0vh;
  max-width: 40rem;
  max-height: 90vh;
  background: linear-gradient(to bottom right, #beccff, #8aa0ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  transition: height 0.5s ease, width 0.5s ease;

  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.weather-sections {
  display: none;
  opacity: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: auto;
  gap: 10px;
}

.search-bar {
  width: 12rem;
  height: 1.4rem;
  border-radius: 5px;
  border-style: none;
  font-size: large;
  text-align: center;
  margin-bottom: 0;
}

.search-bar::placeholder {
  color: #3a4d79;
  opacity: 0.5;
}

.search-section img {
  width: 1.5rem;
}

.search-results {
  position: absolute;
  top: 5.5rem;
  display: flex;
  margin-right: 0.9rem;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 12rem;
  margin-top: 0;
  color: rgb(108, 139, 192);
  z-index: 10;
}

.submit-search {
  background-color: transparent;
  border: none;
  margin-top: 0.3rem;
  filter: invert();
}

.submit-search:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.submit-search:active {
  transform: scale(0.9);
}

.result-button {
  padding-left: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.result-button:hover {
  transform: scale(1.03);
  background-color: #98acc8;
  border-radius: 2px;
}

.date-div {
  margin-top: 1rem;
  font-size: 1.5rem;
  opacity: 0.2;
}

.title {
  position: relative;
  font-size: 3rem;
  margin-top: 0rem;
  color: white;
  font-family: Rubik;
  text-align: center;
}

.title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1.1);
  bottom: 0;
  width: 100%;
  height: 3px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 3px 1px 10px rgba(255, 255, 255, 1);
  border-radius: 2px;
}

.weather-logo {
  width: 11rem;
  margin-top: 0;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.weather-logo:hover {
  transform: scale(1.04);
  filter: brightness(1.1);
  cursor: pointer;
}

.weather-logo {
  border-radius: 50%;
}

.weather-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  opacity: 0.9;
  width: 80%;
  height: fit-content;
  max-width: 40rem;
  max-height: 15rem;
  background-color: #2b4175;
  border-radius: 30px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.weather-details-container:hover {
  transform: scale(1.03);
  background-color: #3a4d79;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1rem;
  font-family: Rubik;
  text-align: center;
}

.section-part {
  width: 20%;
}

.weather-status {
  font-size: 2rem;
  color: white;
}

.temperature {
  font-size: 6rem;
  color: #ffffff;
  font-family: Rubik;
  margin-bottom: 1rem;
  margin-left: 1.8rem;
}

.three-day-forecast {
  width: 80%;
  background-color: #7c9fd0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-top: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.three-day-forecast:hover {
  transform: scale(1.03);
  background-color: #7c9fd088;
}

.three-day-forecast div img {
  width: 2.5rem;
}

.three-day-forecast div {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.weather-details-container p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.9rem;
  width: 80%;
  color: white;
}

.three-day-forecast p {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;
  color: white;
  height: fit-content;
}

.day-title {
  width: 100%;
  height: 1rem;
  border-bottom: 1px solid white;
  font-size: 1.5rem;
}

footer {
  margin-top: 2rem;
  font-family: Rubik;
  font-size: 1.3rem;
  color: #688fc4;
  border-bottom: 1px double;
}
